* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.calc {
  width: 428px;
  height: 926px;
  background-color: #000000;
  border-radius: 30px;
  margin: 0 auto;
  padding: 0 17px 74px;
}
.calc-screen {
  height: 356px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.tablo {
  color: #ffffff;
  font-size: 90px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: right;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.btn {
  width: 88px;
  height: 88px;
  border: none;
  background-color: #333333;
  border-radius: 100%;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  transition: all ease 0.3s;
}
.btn:hover {
  background-color: #b5af96;
}
.zero {
  width: 190px;
  border-radius: 352px;
}
.btn_gray {
  background-color: #a5a5a5;
  color: #000000;
}
.btn_orange {
  background-color: #f1a33b;
}
